// Styles
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Ubuntu', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Ubuntu', "Roboto Mono", monospace;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
}

button, a, .click{
    cursor: pointer;
    font-family: 'Ubuntu', "Roboto Mono", monospace;
}

a{
    &:hover{
        text-decoration: underline;
    }
}

$primary-color: #ee3413;
$secondary-color: #222;

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    background-color: $primary-color;
}

#root{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
}

.app{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    background-image: linear-gradient(#fffffff5, #fff), url('https://thumbs.dreamstime.com/b/abstract-background-connected-blocks-bitcoin-orange-color-gradients-abstract-background-connected-blocks-bitcoin-cryptocurrency-140633229.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0s ease;
    
    &.connected{
        filter: hue-rotate(320deg) invert(10);
        background-color: #ddd;
        transition: all 0.3s ease;
        background-image: linear-gradient(#ddd, #ddd), url('https://thumbs.dreamstime.com/b/abstract-background-connected-blocks-bitcoin-orange-color-gradients-abstract-background-connected-blocks-bitcoin-cryptocurrency-140633229.jpg');

        .sub{
            filter: invert(10);
            color: #ccc;

            a{
                &:hover{
                    color: $primary-color
                    ;
                }
            }
        }
    }
}

.opacitate{
    opacity: 0.7;
    pointer-events: none;
}


.menu-big{
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background-color: #fffe;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 0 5vw;

    .content{
        width: 100%;
        height: 100%;
        padding-top: 20vh;

        .close{
            position: fixed;
            top: 10px;
            right: 5vw;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 500px;
            border: none;
            background-color: transparent;
            transition: all 0.3s ease;
            
            svg{
                transition: all 0.3s ease;
                font-size: 25px;
            }
        }

        .links-holder{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            button{
                width: 100%;
                background-color: transparent;
                border: none;
                padding: 15px 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 7px;
                border-left: 4px solid transparent;
                transition: all 0.3s ease;
                border-radius: 5px;
                
                svg{
                    font-size: 14px;
                    opacity: 0.2;
                    transition: all 0.3s ease;
                }
                
                &:hover, &:focus{
                    background-color: #0001;

                    svg{
                        opacity: 1;
                        transform: translateX(5px) scale(1.1);
                    }
                }
                
                &.active{
                    padding: 15px 20px;
                    border-left: 4px solid $primary-color;
                    background-color: #0002;
                }
            }
        }
    }
}

.show-menu{
    .menu-big{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .nav-bar{
        opacity: 0.4;
    }
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5vw;
    z-index: 100;
    background-color: #fff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    overflow: hidden;

    & > .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;

        .logo{
            min-width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
            border-radius: 10px;
            background-image: url(./assets/logo512.png);
            background-size: 45px;
            background-position: left;
            transition: all 0.3s ease;
            background-repeat: no-repeat;
            
            &:hover, &:focus{
                transform: rotate(45deg);
            }
            
            &.connected{
                animation: logo-anim 3s linear forwards infinite;
            }

            @keyframes logo-anim {
                0%{
                    transform: rotate(-360deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
        }

        .links-holder{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            left: 0;
            position: absolute;
            pointer-events: none;
            
            button{
                pointer-events: all;
                padding: 10px 15px;
                background-color: transparent;
                color: #000;
                font-weight: 500;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                transition: all 0.3s ease;
                border-radius: 10px;
                
                svg{
                    font-size: 13px;
                    transition: all 0.3s ease;
                    opacity: 0.3;
                    pointer-events: none;
                }

                &.active{
                    background-color: #0002;
                }
                
                &:hover, &:focus{
                    svg{
                        opacity: 1;
                        pointer-events: all;
                        transform: translateX(3px);
                    }
                }
            }

            @media screen and (max-width: 660px){
                display: none;
            }
        }
        
        .status-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button{
                padding: 10px 20px;
                background-color: $primary-color;
                color: #000;
                font-weight: 600;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                color: #fff;
                transition: all 0.3s ease;

                &.empty{
                    background-color: #000;
                    opacity: 0.3;
                    cursor: not-allowed;
                }

                &.hamburger{
                    padding: 0;
                    height: 45px;
                    width: 45px;
                    transform: rotate(90deg);
                    color: #000;
                    display: none;
                    @media screen and (max-width: 660px) {
                        display: flex;
                    }
                    
                    svg{
                        font-size: 27px;
                    }
                    background-color: transparent;

                    &:hover, &:focus{
                        transform: scale(1) rotate(90deg);
                        background-color: #0002;
                    }
                }

                &:hover, &:focus{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 5vw;

    &.active{
        transform: translateY(0) !important;
    }

    & > .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1100px;
    }

    &.home{
        transform: translateY(-100%);

        .content{
            section{
                width: 100%;
                text-align: center;
                &.hero{
                    h2{
                        font-size: 50px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 600;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        column-gap: 20px;
                        
                        @media screen and (max-width: 660px) {
                            font-size: 40px;
                            column-gap: 10px;
                        }

                        span{
                            font-family: "Raleway", sans-serif;
                            font-size: inherit;
                            font-weight: 900;
                            color: $primary-color;
                        }
                    }
                }

                &.connect-wallet{
                    margin-bottom: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    button{
                        padding: 15px 50px;
                        font-size: 23px;
                        border: none;
                        background-color: $primary-color;
                        font-weight: 700;
                        color: #fff;
                        border-radius: 20px;
                        transition: all 0.3s ease;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        min-height: 50px;
                        
                        svg{
                            width: 40px;
                            height: 40px;
                            padding: 7px;
                            border-radius: 100px;
                            border: 3px solid #fff;
                        }

                        &:hover, &:focus{
                            transform: scale(1.1);
                        }
                    }
                    
                    @media screen and (max-width: 660px) {
                        margin-top: -5px;
                        margin-bottom: 30px;
                        button{
                            padding: 5px 30px;
                            min-height: 45px;
                            font-size: 21px;
                            gap: 10px;
                            border-radius: 10px;

                            svg{
                                transform: scale(0.8);
                            }
                        }
                    }
                }

                &.sub{
                    font-size: 15px;
                    *{
                        font-size: 15px;
                        @media screen and (max-width: 450px) {
                            font-size: 14px;
                            opacity: 0.5;
                        }
                    }

                    a{
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    &.wallet{
        transform: translateY(100%);
        .content{
            overflow-y: scroll;
            justify-content: flex-start;
            padding-top: 150px;

            section{
                &.wallet-info{
                    width: 100%;
                    h2{
                        font-size: 30px;
                        text-align: center;
                        font-weight: 900;
                        color: #111;

                        @media screen and (max-width: 660px) {
                            font-size: 25px;
                        }
                    }
                    .bubble-holder{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .bubble{
                            width: 20px;
                            height: 20px;
                            border: 3px solid $primary-color;
                            transform: rotate(45deg);
                            background-color: rgba($primary-color, 0.3);
                        }
                    }

                    .address{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        gap: 15px;
                        span{
                            color: #555;
                            font-size: 18px;
                        }

                        button{
                            width: 30px;
                            height: 30px;
                            border: none;
                            border-radius: 10px;
                            background-color: #0009;
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            gap: 5px;
                            transition: all 0.3s ease;

                            svg{
                                font-size: 14px;
                            }

                            &:hover, &:focus{
                                transform: scale(1.1);
                                background-color: #000;
                            }
                        }
                    }

                    .container{
                        width: 100%;
                        margin-top: 30px;
                        padding: 20px;
                        background-color: $primary-color;
                        color: #fff;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;

                        .info{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 10px;
                            width: 100%;
                            position: relative;
                            border-top: 2px solid #fff4;
                            padding: 15px 20px;
                            
                            @media screen and (max-width: 450px) {
                                padding: 15px 0px;
                            }
                            
                            &:first-child{
                                border-top: 2px solid #fff0;
                            }

                            .type{
                                width: fit-content;
                            }

                            .span{
                                width: 100%;
                                height: 100%;
                                z-index: 10;
                                pointer-events: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #0000;
                                text-align: center;
                                left: 0;
                                position: absolute;

                                @media screen and (max-width: 450px) {
                                    position: static;
                                }
                            }

                            .value{
                                min-width: fit-content;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                padding: 5px;
                                background-color: #000;
                                border-radius: 110px;
                                padding-left: 10px;
                                
                                &.b{
                                    background-color: gold;
                                    color: #000;
                                }

                                span{
                                    text-transform: capitalize;
                                }

                                p{
                                    padding-right: 5px;
                                    text-transform: capitalize;
                                }

                                button{
                                    text-transform: uppercase;
                                    border-radius: inherit;
                                    border: none;
                                    padding: 3px 10px;
                                    font-family: "Raleway", monospace;
                                    font-weight: 900;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}